.navbar-fixed-menu {
  display: block !important;
  z-index: 1001 !important;
  transform-origin: center top !important;
  top: 52px !important;
  right: 50px !important;
  position: fixed !important;
  visibility: visible !important;
}
